<div class="container-fluid well">
  <div class="jumbotron text-center">
    <h1>All Tags</h1>
  </div>
  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col-md-4 text-center">
        <body>
          <!-- DO NOT HAVE THIS IF STATEMENT IN THE ADMIN NAMESPACE -->
          <% if tag.skills.count > 0 %>
            <h3><%= link_to tag.name, tag_path(tag), class: "text-muted" %></h3> <p> Skills: <%= tag.skills.count %></p>
          <% end %>
        </body>
      </div>
    <% end %>
  </div>
</div>
