<div class='navbar navbar-default navbar-static-top col-md-12'>
    <a href='/' class='navbar-brand'>Captain</a>
    <ul class='nav navbar-nav navbar-right'>
      <!-- <li><a href='/robots/view'>Robot Profiles</a></li> -->
      <!-- <li><a href='/robots'>Robot Index</a></li> -->
      <!-- <li><a href='/robots/new'>New Robot</a></li> -->
    </ul>
</div>
